@font-face {
    font-family: league spartan;
    src: url(../fontes/League_Spartan/LeagueSpartan-VariableFont_wght.ttf);

}
*{
    margin: 0px; padding: 0px;
}
header{
    display: flex; background-color: rgb(24, 23, 23);
    align-items: center;
    gap: 30px;
    height: 100px;
    padding: 10px;
    
}
header > h1 {
    color: white;
    text-decoration: underline overline solid;
}
@media(max-width: 500px){
    header > h1{
        font-size: 24px;
    }
}
header > nav{
    display: inline-block;
    align-items: center;
    gap: 2%;
    font-family: league spartan;
}
header > nav > a {
    display: inline-block;
    gap: 2%;
    margin: 10px;
    font-size: 14pt;
    text-decoration: none;
    color: azure;
}
header > nav > a:hover{
    color: rgb(0, 119, 255)
}
body{
    background-color: rgb(255, 253, 147);
}
main{margin: 20px;}
main > article{
    display: block;
    background-color: white;
    margin: auto;
    width: 75%;

    border-radius: 10px;
    padding: 10px;
    box-shadow: 2px 5px 20px 5px black;
}
section#sobremim > h2{
    text-align: center;
}
section#sobremim > p{
    text-indent: 25px;
    font-family: league spartan;
    font-size: 13pt;
    font-weight: normal;
}
section#sobremim ul{
    list-style: circle;
    list-style-position: inside;
}
@media(max-width: 500px){
    div#certificados > iframe{
        width: 150px;
        height: 100px;
    }
}

section#sobremim > div#certificados > iframe{
    height: 200px;
}

section#projetos{
    display: flex;
}
