*{
    margin: 0px; padding: 0px;
    hyphens: auto;
    
}
/*fontes*/
@font-face {
    font-family: macondo;
    src: url(/fontes/macondo/Macondo/Macondo-Regular.ttf);
}
/*fontes*/
header{
    display: flex;
    border-radius: 4px;
    align-items: center;
    color: white;
    padding: 2%;
    background-image: linear-gradient(to bottom, rgb(5, 35, 59), rgb(10, 53, 88), rgb(15, 63, 102),rgb(15, 63, 102) );
}
    header > h2{
    font-family: macondo;
    text-decoration: underline overline double 1.5px darkcyan;
}
header nav{
    display: block;
    border-radius: 7px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 10px;
}
header nav > a {
    display: inline-block;
    border: 1.5px solid rgb(31, 144, 179);
    border-radius: 3px;
    text-align: center;
    padding: 10px;
    margin: 10px;
    text-decoration: none;
    color: white;
    box-shadow: 1px 1px 10px 0px black;
}
header nav > a:hover {
    transition: ease 0.3s;
    transform: scale(1.1) ;
    margin: 10px;
    background-color: rgb(19, 93, 116);
    color: darkcyan;
}
/*adaptacoes header*/
@media(max-width: 890px){
    header nav > a {
        margin: 6px;
        padding: 6px;
        font-size: 14px;
    }
    header h2 {
        font-size: larger;
    }
}
@media(max-width: 780px){
    header nav > a{
        margin: 4px;
        padding: 4px;
        font-size: 12px;
    }
    header h2 {
        font-size: large;
    }
}
@media(max-width: 620px){
    header nav > a {
        margin: 2px;
        padding: 2px;
        font-size: 10px;
    }
    header h2{
        font-size: medium;
    }
}
@media(max-width: 550px){
    header nav > a {
        font-size: 8px;
    }
}
@media(max-width: 460px){
    header nav > a {
        font-size: 6px;
        
    }
    
}
@media(max-width: 450px){
    header h2{
        font-size: small;
    }
}
@media(max-width: 400px){
    header {
        display: block;
    }
    header h2 {
        text-align: center;
        margin: auto;
    }
    header nav{
        margin: auto;
        text-align: center;
    }
}
/*adaptacoes header*/

div#background{
    background-image: url(/imgs/codigos.jpg);
    background-attachment: fixed;
    background-position:  center top;
    width: 100%; height: 100%;
}
main{
    padding: 10px;
    display: block;
    border-radius: 6px;
    margin: auto;
    background-color: black;
    width: 75%; 
    color: rgb(146, 243, 0);
    
}
/*sobre mim*/
section#sobremim {
    
}
section#sobremim h3 {
    text-align: center;
    margin: auto;
}
section#sobremim p {
    text-indent: 20px;
    font-size: 14pt;
    hyphens: auto;
    margin: 2%;
}

/*sobre mim*/
/*habilidade*/
.alinharlado{
    display: flex;

}
.centralizar {
    margin: auto;
    text-align: center;

}
section#habilidades {
    color: rgb(0, 140, 255);
}
section#habilidades h3{
    text-align: center;
    margin: auto;
}
section#habilidades p {
    text-indent: 20px;
    font-size: 14pt;
    hyphens: auto;
    margin: 2%;
}
picture#linguagens img{
    margin: 10px;
}
@media(max-width: 800px){
    picture#linguagens img{
        width: 320px;
        height: 150px;
    }
}
@media(max-width: 700px){
    picture#linguagens img{
        width: 250px;
        height: 100px;
    }
}
@media(max-width: 600px){
    div.alinharlado{
        display: block;
    }
}
@media(max-width: 350px){
    picture#linguagens img{
        width: 200px;
        height: 150px;
    }
}
/*habilidade*/
/*Projetos*/
div.alinharlado > p {
    width: 100%;
}
div#projeto1 > div.alinharlado {
    display: flex;
    gap: 200px;
}

div#projeto1 > div.alinharlado iframe{
    width: 700px;
    height: 200px;
    border-radius: 7px;
    border: 1.5px solid white;
}
div#projeto1 a {
    color: lightskyblue;
}
@media(max-width: 1100px){
    div#projeto1 > div.alinharlado {
        gap: 100px;
    }
    div.alinharlado > p {
        width: 75%;
    }
}

@media(max-width: 750px){
    div#projeto1 > div.alinharlado  {
        gap: 60px;
    }
    div#projeto1 > div.alinharlado iframe {
        width: 500px; height: 200px;
    }
}
@media(max-width: 685px){
    div#projeto1 > div.alinharlado {
        display: block;
        margin: auto;
        text-align: center;
    }
    div.alinharlado > p {
        width: 100%;
        font-size: 10pt;
        
    }
    div#projeto1 > div.alinharlado iframe {
        width: 400px; height: 150px;
    }
}
@media(max-width: 540px){
    div#projeto1 > div.alinharlado iframe {
        width: 300px; height: 150px;
    }
}
@media(max-width: 400px){
    div#projeto1 > div.alinharlado iframe {
        width: 200px; height: 200px;
    }
}
div#projeto2 > div.alinharlado {
    gap: 100px;
}
div#projeto2 > div.alinharlado iframe{
    width: 700px;
    height: 200px;
    border-radius: 12px;
    border: 1.5px solid white;
 
}
div#projeto2  > div.alinharlado  p {
    width: 100%;
    display: block;
}
section#projetos a {
    color: rgb(0, 140, 255);
}
@media(max-width: 685px){
    div#projeto2 > div.alinharlado {
        display: block;
        margin: auto;
        text-align: center;
    }
    div#projeto2 > div.alinharlado iframe{
        width: 400px;
        height: 150px;
    }
    div.alinharlado > p {
        width: 100%; 

        font-size: 10pt;    
    }
}
@media(max-width: 540px){
    div#projeto2 > div.alinharlado iframe {
        width: 300px; height: 150px;
    }
    div.alinharlado > p {
        width: 100%;

        font-size: 10pt;    
    }
}
@media(max-width: 400px){
    div#projeto2 > div.alinharlado iframe {
        width: 200px; height: 200px;
    }
}
    /*Projetos*/